  <div id="central_outer_container">
  <div id="beforeafter">
  <div id="mainbefore" class="before">

  <div id="outer-header-before">
  <div id="inner-header-before">


      <div id="headshot_circle_before" class="headshot_circle">
      <%= image_tag("pixel_selfie.png", id: :headshot_techno, class: :headshot_img) %>

    </div>
    <h1 class="techno_before">TECHNO-</h1>
        <h1 class="social_before">Social</h1>

    <div class="parallelogram_before parallelogram"><p class="parallelogram_text_before">Technology means transforming what is</p></div>
</div> <!-- header -->


  <div id="contact-before">
<ul id="contact-before-list" class="fa-ul">
<li class="contact-before-item">
    <a class="contact-before-link" href="https://github.com/brw12"><i class="contact-before-icon fa fa-li fa-github-alt"></i><span class="contact-before-text">brw12</span></a>
</li>
<li class="contact-before-item">
    <a class="contact-before-link" href="http://stackoverflow.com/users/2308190/benjamin-wheeler"><i class="contact-before-icon fa fa-li fa-stack-overflow"></i><span class="contact-before-text">benjamin-wheeler</span></a>
</li>
<li class="contact-before-item">
    <a class="contact-before-link" href="https://linkedin.com/in/benjiwheeler"><i class="contact-before-icon fa fa-li fa-linkedin-square"></i><span class="contact-before-text">benjiwheeler</span></a>
</li>
</ul>

</div>
</div> <!-- header -->

    <ul id="techno_list">

    <li class="techno_item">
        <div class="techno_item_icon">
          <div class="mockup_outer_container">
            <div class="mockup_inner_container">
              <div class="mockup_background"></div>
              <div id="dayo_screenshot" class="screenshot"></div>
            </div>
          </div>
        </div>
        <div class="techno_item_content">
          <a href="https://itunes.apple.com/us/app/dayo-daily-weather-on-your/id903458702?mt=8"><p class="techno_item_headline">Dayo</p></a>
          <a href="https://itunes.apple.com/us/app/dayo-daily-weather-on-your/id903458702?mt=8"><%= image_tag("app_store_button.png", class: :app_store_button) %></a>
          <p class="techno_item_subtitle">Daily weather on your lockscreen</p>
          <div class="techno_item_text"><p>Tells you the weather like a human does, by the time you wake up.</p><p>Tech I used: obj-c, js, Parse service</p></div>
          <div id="dayo_graph" class="graph"></div>
        </div>
    </li>

    <li class="techno_item">
        <div class="techno_item_icon">
          <div class="mockup_outer_container">
            <div class="mockup_inner_container">
              <div class="mockup_background"></div>
              <div id="underground_screenshot" class="screenshot"></div>
            </div>
          </div>
      </div>
      <div class="techno_item_content">
          <a href="https://itunes.apple.com/us/app/underground-share-your-thoughts/id849027308?mt=8"><p class="techno_item_headline">Underground</p></a>
                    <%= link_to(image_tag("app_store_button.png", class: :app_store_button), 'https://itunes.apple.com/us/app/underground-share-your-thoughts/id849027308?mt=8')  %>
<p class="techno_item_subtitle">Share thoughts with people like you</p>
          <div class="techno_item_text"><p>We failed at this before Facebook Rooms did!</p><p>Tech I used: obj-c, rails</p></div>
          <div id="underground_graph" class="graph"></div>
      </div>
    </li>

    <li class="techno_item">
        <div class="techno_item_icon">
          <div class="mockup_outer_container">
            <div class="mockup_inner_container">
              <div class="mockup_background"></div>
              <div id="ehighlighter_screenshot" class="screenshot"></div>
            </div>
          </div>
      </div>
      <div class="techno_item_content">
          <a href="https://itunes.apple.com/us/app/ehighlighter/id552675073?mt=8"><p class="techno_item_headline">eHighlighter</p></a>
                    <%= link_to(image_tag("app_store_button.png", class: :app_store_button), 'https://itunes.apple.com/us/app/ehighlighter/id552675073?mt=8') %>
<p class="techno_item_subtitle">eBook-style highlighting for real-world books</p>
          <div class="techno_item_text"><p>A few thousand paying users love it!</p><p>Tech I used: obj-c</p></div>
          <div id="ehighlighter_graph" class="graph"></div>
      </div>
    </li>
</ul>


    <div class="parallelogram_before parallelogram"><p class="parallelogram_text_before">Programming experience</p></div>

<p class="explanation_before">Key: one icon for each year of experience;<br>color indicates how <span style="color: #cfc;">positive</span> or <span style="color: #fcc;">negative</span> I feel about the language.</p>

<ul id="proficiency-before-list">
    <li class="proficiency-before-item" data-years="4" data-like=".5" data-mfizz="perl" data-name="perl">
    </li>
    <li class="proficiency-before-item" data-years="2" data-like=".6" data-mfizz="objc" data-name="obj-c">
    </li>
    <li class="proficiency-before-item" data-years="6" data-like=".8" data-mfizz="cplusplus" data-name="c++">
    </li>
    <li class="proficiency-before-item" data-years="1" data-like=".9" data-mfizz="ruby" data-name="ruby">
    </li>
    <li class="proficiency-before-item" data-years="1" data-like=".8" data-mfizz="ruby-on-rails" data-name="rails">
    </li>
    <li class="proficiency-before-item" data-years="1" data-like="1" data-mfizz="python" data-name="python">
    </li>
    <li class="proficiency-before-item" data-years="1" data-like=".7" data-mfizz="javascript" data-name="js">
    </li>
    <li class="proficiency-before-item" data-years="1" data-like=".5" data-mfizz="java-bold" data-name="java">
    </li>
    <li class="proficiency-before-item" data-years="8" data-like=".7" data-mfizz="html" data-name="html">
    </li>
    <li class="proficiency-before-item" data-years="2" data-like=".5" data-mfizz="php" data-name="php">
    </li>
    <li class="proficiency-before-item" data-years="3" data-like=".2" data-mfizz="css" data-name="css">
    </li>
    </ul>

    </div> <!-- mainbefore -->

<!-- ###################### after #################### -->

  <div id="mainafter" class="after">

  <div id="outer-header-after">
  <div id="inner-header-after">


  <div id="headshot_circle_after" class="headshot_circle">
      <%= image_tag("drawn_selfie.png", id: :headshot_social, class: :headshot_img) %>


    </div>
    <h1 class="techno_after">TECHNO-</h1>
    <h1 class="social_after">Social</h1>

    <div class="parallelogram_after parallelogram"><p class="parallelogram_text_after">Everything we are is social context</p></div>
</div> <!-- header -->

  <div id="contact-after">
<ul id="contact-after-list">
<li class="contact-after-item">
    <a class="contact-after-link" href="https://twitter.com/benjiwheeler"><span class="contact-after-text">@benjiwheeler</span><i class="contact-after-icon fa fa-twitter-square"></i></a>
</li>
<li class="contact-after-item">
    <a class="contact-after-link" href="https://www.facebook.com/wheeler.benjamin"><span class="contact-after-text">wheeler.benjamin</span><i class="contact-after-icon fa fa-facebook-square"></i></a>
</li>
<li class="contact-after-item">
<span class="contact-after-text">lastname dot firstname at gmail
</span><i class="contact-after-icon fa fa-envelope-square"></i></li>
</ul>
</div>


</div> <!-- header -->


    <ul id="social_list">
    <li class="main_item">
    	<div class="social_item_icon">&#x1f64b</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Teaching</p>
	     <p class="social_item_text">I’ve taught everything from middle school math to college literature, in the US and abroad. I recently started teaching Ruby on Rails through Railsbridge. Ask me about teaching The Great Gatsby to appalled Turkish students.</p>
        </div>
    </li>
    <li class="main_item">
    	<div class="social_item_icon">&#x1F6A2</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Foreign Affairs</p>
	     <p class="social_item_text">I was a consultant for the Presidential Administration of Georgia (the one near Russia) to improve their procedures for hosting dignitaries and academics and organizing international conferences.</p>
        </div>
    </li>
    <li class="main_item">
    	<div class="social_item_icon">&#x1F49B</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Activism</p>
	     <p class="social_item_text">In former Soviet Georgia, I worked with student groups 
and opposition politicians; both groups went on to lead Georgia’s peaceful 2003 revolution. 
I’ve volunteered for four political campaigns in New York, helped get the Working Families Party a recurring place on the ballot, and 
helped Ken Thompson become Brooklyn's DA.</p>
        </div>
    </li>
    <li class="main_item">
    	<div class="social_item_icon">&#x1F4DD</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Writing</p>
	     <p class="social_item_text">I’ve written for MAKE Magazine (eg: <a href="http://makezine.com/2014/08/19/diy-electric-vehicle-in-manhattan/">DIY electric car</a>, <a href="http://www.ditditdash.com/dash/index.php?article=quizCircuitProjectMakeMagazine.html&page=article.php&oldpage=articles.php&noCache=64217506">circuits for kids</a>), and on a <a href="http://benandalice.com">blog I share with my friend (and erstwhile editor) Alice</a>. I’m interested in how we come to believe what we believe (eg: trying to write from the <a href="http://www.benandalice.com/2014/11/david-tedrow-must-die.html">perspective of those I disagree with</a>), and how we can realize when we’re wrong (eg: <a href="http://www.benandalice.com/2006/05/circumcision-tell-me-one-more-time-why.html">on circumcision</a>).</p>
        </div>
    </li>
    </ul>


<!--
    <div class="parallelogram_after parallelogram"><p class="parallelogram_text_after">Programming experience</p></div>

<p class="explanation_after">Key: one icon for each year of experience;<br>color indicates how <span style="color: #cfc;">positive</span> or <span style="color: #faa;">negative</span> I feel about the language.</p>

<ul id="proficiency-after-list">
    <li class="proficiency-after-item" data-years="4" data-like=".5" data-mfizz="perl" data-name="perl">
    </li>
    <li class="proficiency-after-item" data-years="2" data-like=".6" data-mfizz="objc" data-name="obj-c">
    </li>
    <li class="proficiency-after-item" data-years="6" data-like=".8" data-mfizz="cplusplus" data-name="c++">
    </li>
    <li class="proficiency-after-item" data-years="1" data-like=".9" data-mfizz="ruby" data-name="ruby">
    </li>
    <li class="proficiency-after-item" data-years="1" data-like=".8" data-mfizz="ruby-on-rails" data-name="rails">
    </li>
    <li class="proficiency-after-item" data-years="1" data-like="1" data-mfizz="python" data-name="python">
    </li>
    <li class="proficiency-after-item" data-years="1" data-like=".7" data-mfizz="javascript" data-name="js">
    </li>
    <li class="proficiency-after-item" data-years="1" data-like=".5" data-mfizz="java-bold" data-name="java">
    </li>
    <li class="proficiency-after-item" data-years="8" data-like=".7" data-mfizz="html" data-name="html">
    </li>
    <li class="proficiency-after-item" data-years="2" data-like=".5" data-mfizz="php" data-name="php">
    </li>
    <li class="proficiency-after-item" data-years="3" data-like=".2" data-mfizz="css" data-name="css">
    </li>
    </ul>
-->


    </div> <!-- mainafter -->
  </div> <!-- beforeafter -->

  </div> <!-- centralcontainer -->

