  <div id="central_outer_container">
  <div id="beforeafter">
  <div id="mainbefore" class="before">

  <div id="outer-header-before">
  <div id="inner-header-before">


      <div id="headshot_circle_before" class="headshot_circle">
      <%= image_tag("pixel_selfie.png", id: :headshot_techno, class: :headshot_img) %>

    </div>
    <h1 class="techno_before">TECHNO-</h1>
        <h1 class="social_before">Social</h1>

    <div class="parallelogram_before parallelogram"><p class="parallelogram_text_before">Ben Wheeler builds things up</p></div>
</div> <!-- header -->


  <div id="contact-before">
<ul id="contact-before-list" class="fa-ul">
<li class="contact-before-item">
    <a class="contact-before-link" href="https://github.com/brw12"><i class="fa fa-li fa-github-alt"></i><span class="contact-before-text">brw12</span></a>
</li>
<li class="contact-before-item">
    <a class="contact-before-link" href="http://stackoverflow.com/users/2308190/benjamin-wheeler"><i class="fa fa-li fa-stack-overflow"></i><span class="contact-before-text">benjamin-wheeler</span></a>
</li>
<li class="contact-before-item">
    <a class="contact-before-link" href="https://linkedin.com/in/benjiwheeler"><i class="fa fa-li fa-linkedin-square"></i><span class="contact-before-text">benjiwheeler</span></a>
</li>
</ul>

</div>
</div> <!-- header -->

    <ul id="techno_list">

    <li class="techno_item">
        <div class="techno_item_icon">
          <div class="mockup_outer_container">
            <div class="mockup_inner_container">
              <div class="mockup_background"></div>
              <div id="dayo_screenshot" class="screenshot"></div>
            </div>
          </div>
        </div>
        <div class="techno_item_content">
          <p class="techno_item_headline">Dayo</p>
          <%= image_tag("app_store_button.png", class: :app_store_button) %>
          <p class="techno_item_subtitle">Daily weather on your lockscreen</p>
          <p class="techno_item_text">Tells you the weather like a human does, by the time you wake up.<br />Tech I used: obj-c, js, Parse service</p>
          <div id="dayo_graph" class="graph"></div>
        </div>
    </li>

    <li class="techno_item">
        <div class="techno_item_icon">
          <div class="mockup_outer_container">
            <div class="mockup_inner_container">
              <div class="mockup_background"></div>
              <div id="underground_screenshot" class="screenshot"></div>
            </div>
          </div>
      </div>
      <div class="techno_item_content">
          <p class="techno_item_headline">Underground</p>
                    <%= image_tag("app_store_button.png", class: :app_store_button) %>
<p class="techno_item_subtitle">Share thoughts with people like you</p>
          <p class="techno_item_text">We failed at this before Facebook Rooms did!<br />Tech I used: obj-c, rails</p>
          <div id="underground_graph" class="graph"></div>
      </div>
    </li>

    <li class="techno_item">
        <div class="techno_item_icon">
          <div class="mockup_outer_container">
            <div class="mockup_inner_container">
              <div class="mockup_background"></div>
              <div id="ehighlighter_screenshot" class="screenshot"></div>
            </div>
          </div>
      </div>
      <div class="techno_item_content">
          <p class="techno_item_headline">eHighlighter</p>
                    <%= image_tag("app_store_button.png", class: :app_store_button) %>
<p class="techno_item_subtitle">eBook-style highlighting for real-world books</p>
          <p class="techno_item_text">A few thousand paying users love it!<br />Tech I used: obj-c</p>
          <div id="ehighlighter_graph" class="graph"></div>
      </div>
    </li>
</ul>


<ul id="tech_proficiency_list">
    <li class="tech_proficiency_item">
        <p>UNIX (tcsh, awk, xargs, etc.)</p>
    </li>
    <li class="tech_proficiency_item">
        <p>C++</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Perl</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Objective-C</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Ruby/Rails</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Python</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Javascript</p>
    </li>
    <li class="tech_proficiency_item">
        <p>HTML</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Heroku</p>
    </li>
    <li class="tech_proficiency_item">
        <p>Parse</p>
    </li>
    <li class="tech_proficiency_item">
        <p>PHP</p>
    </li>
    jQuery
    <li class="tech_proficiency_item">
        <p>Java</p>
    </li>
    <li class="tech_proficiency_item">
    <p>CSS</p>
    </li>
    <li class="tech_proficiency_item">
    <p>Backbone</p>
    </li>
    <li class="tech_proficiency_item">
    <p>Angular</p>
    </li>
    <li class="tech_proficiency_item">
    <p>Arduino</p>
    </li>
    </ul>

    </div> <!-- mainbefore -->

<!-- ###################### after #################### -->

  <div id="mainafter" class="after">

  <div id="outer-header-after">
  <div id="inner-header-after">


  <div id="headshot_circle_after" class="headshot_circle">

      <%= image_tag("drawn_selfie.png", id: :headshot_social, class: :headshot_img) %>

    </div>
    <h1 class="techno_after">TECHNO-</h1>
    <h1 class="social_after">Social</h1>

    <div class="parallelogram_after parallelogram"><p class="parallelogram_text_after">Ben Wheeler tears things down</p></div>
</div> <!-- header -->

  <div id="contact-after">
<ul id="contact-after-list">
<li class="contact-after-item">
    <a class="contact-after-link" href="https://twitter.com/benjiwheeler"><span class="contact-after-text">@benjiwheeler</span><i class="fa fa-twitter-square"></i></a>
</li>
<li class="contact-after-item">
    <a class="contact-after-link" href="https://www.facebook.com/wheeler.benjamin"><span class="contact-after-text">wheeler.benjamin</span><i class="fa fa-facebook-square"></i></a>
</li>
<li class="contact-after-item">
<span class="contact-after-text">lastname dot firstname at gmail
</span><i class="fa-valign-top fa fa-envelope-square"></i></li>
</ul>
</div>


</div> <!-- header -->


    <ul id="social_list">
    <li class="main_item">
    	<div class="social_item_icon">&#x1f64b</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Teaching</p>
	     <p class="social_item_text">I’ve taught everything from middle school math to college literature, in the US and abroad. I recently started teaching Ruby on Rails through Railsbridge. Ask me about teaching The Great Gatsby to appalled Turkish students.</p>
        </div>
    </li>
    <li class="main_item">
    	<div class="social_item_icon">&#x1F6A2</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Foreign Affairs</p>
	     <p class="social_item_text">I was a consultant for the Presidential Administration of Georgia (the one near Russia) to improve their procedures for hosting dignitaries and academics and organizing international conferences.</p>
        </div>
    </li>
    <li class="main_item">
    	<div class="social_item_icon">&#x1F49B</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Activism</p>
	     <p class="social_item_text">I shared lessons from American student activism with student groups in former Soviet Georgia, and worked with opposition politicians; both groups went on to lead Georgia’s peaceful 2003 revolution. I’ve volunteered for four political campaigns in New York including the original drive to get the Working Families Party on the ballot and Ken Thompson’s DA campaign (both surprise wins).</p>
        </div>
    </li>
    <li class="main_item">
    	<div class="social_item_icon">&#x1F4DD</div>
	<div class="social_item_content">
	     <p class="social_item_headline">Teaching</p>
	     <p class="social_item_text">I’ve written for MAKE Magazine (eg: circuits for kids), Columbia Political Review, and on a blog I share with my sometime editor Alice. I’m interested in how we come to believe what we believe (eg: trying to write from the perspective of those I disagree with), and how we can realize when we’re wrong (eg: on circumcision).</p>
        </div>
    </li>
    </ul>



    <ul id="tech_proficiency_list">
    <li class="tech_proficiency_item">
    <p></p>
    </li>
    <li class="tech_proficiency_item">
    <p>C++</p>
    </li>
    <li class="tech_proficiency_item">
    <p>Perl</p>
    </li>
    <li class="tech_proficiency_item">
    <p>Objective-C</p>
    </li>
    </ul>


    </div> <!-- mainafter -->
  </div> <!-- beforeafter -->

  </div> <!-- centralcontainer -->

