<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technosocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- touch punch is great for making solid jquery ui functionality work with finger touches; eg draggable -->
    <!-- jquery finger is great for touch functions that jquery ui doesn't natively support, like flick -->
    <script src="https://www.dropbox.com/s/jmp0zqb9szpe6aw/jquery.finger.js?raw=1"></script>
      <script src="https://dl.dropboxusercontent.com/u/1035381/ref/js/beforeafter/jquery.beforeafter-1.4.js?raw=1"></script>

  <%= csrf_meta_tags %>
</head>
<body>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
